/*body*/

body{
    background-color: rgb(232, 227, 227);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*navbar*/


header{
    text-align: center;
    background-color: rgb(72, 206, 72);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
}

header h1{
    color: white;
}

nav ul{
    display: flex;
    justify-content: space-around;

}


nav ul li{
    list-style-type: none;
    display: inline-flex;
    font-weight: 700;
}

nav ul li a{
    text-decoration: none;
    color: white;
}


/*Section + tableau*/

section{
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

section h2{
    text-align: center;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
  text-align: center;
  font-weight: 500;
}


.tab{
    display: flex;
    justify-content: center;
}

.detail p{
    text-align: center;
}

.detail ul{
    padding: 0;           
    text-align: center;   
}

.detail ul li{
    list-style: none;
    text-decoration: none;
}


/*experience pro*/

.experience-pro{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    margin-top: 10px;
}

.experience-pro ul li{
    list-style: none;
}

/*footer*/

footer{
    text-align: center;
}