/*#### Grid style ####*/

.container {
    display: flex;
    justify-content: center;
    gap: 20px;          /* espace entre Web et Data */
    flex-wrap: wrap;    /* responsive */
}

.responsive {
    border: 1px solid yellow;
    background-color: rgb(142, 138, 74);
    padding: 20px;
    min-width: 250px;
    border-radius: 5px;
}

.responsive ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
    justify-content: center;
    padding: 0;
}

.responsive ul li:last-child {
    grid-column: 2; /* colonne du milieu */
}

.responsive ul li {
    background-color: grey;
    padding: 5px 10px;
    border-radius: 5px;
}