body{
    background-color: rgb(232, 227, 227);
}

/*Header + navbar modifier le header pour ce soit sur toute la largeur*/

header{
    text-align: center;
    background-color: rgb(72, 206, 72);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
}

header h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul{
    display: flex;
    justify-content: space-around;

}


nav ul li{
    list-style-type: none;
    display: inline-flex;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav ul li a{
    text-decoration: none;
    color: white;
}

/*Section about*/

.about{
    text-align: center;
    background-color: white;
    padding: 6px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.about h2{
    font-weight: 400;
}

.about p{
    font-weight: 425;
}

pre{
    font-weight: 350;
}


img{
    border: 2px solid transparent;
    width: 10%;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}