
body{
    background-color: whitesmoke;
}

header{
    display: block;
    margin: auto;
    text-align: center;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 12px;

}

nav{
    color : white
}

nav li a{
    text-decoration: none;
    color: white;
}
/*I. Attribuer des couleurs aux différentes parties de la page HTML*/

/*II. Centrer tous les éléments*/

section{text-align: center;}

section{
    border: 2px solid white;
    background-color: white;
    border-radius: 4px;
    margin: auto;
}


nav{
    background-color: rgb(58, 198, 58);
}

footer{
    text-align: center;
}

/*IV. Image*/

/*V. Compétences*/